<md-content layout-lg="column" layout-gt-lg="column" layout-align="center">
  <md-input-container class="md-display-1" layout-margin>
    <label>Annual gross income</label>
    <input type="number" ng-model="$ctrl.salary.grossYear" autofocus>
  </md-input-container>

  <div layout-lg="row" layout-gt-lg="row" layout-margin>
    <div flex="40">
      <div layout="row" layout-margin
           ng-repeat-start="(salaryOptionKey,  salaryOptionTitle) in $ctrl.salaryOutputOptions">
        <div flex>
          {{::salaryOptionTitle}}
        </div>
        <div flex class="report-value">
          {{$ctrl.salary[salaryOptionKey] | number:0}}
        </div>
      </div>
      <md-divider ng-if="!$last" ng-repeat-end></md-divider>
    </div>
    <div flex>
      <md-content class="md-body-1">
        <div layout="column" layout-margin>
          <md-radio-group ng-model="$ctrl.year">
            <md-radio-button value="2015">for 2015</md-radio-button>
            <md-radio-button value="2016">for 2016</md-radio-button>
            <md-radio-button value="2017">for 2017</md-radio-button>
          </md-radio-group>
        </div>
      </md-content>
    </div>
  </div>
</md-content>
